/* General Styles */
body{
    font-size: 12px;
    height:100vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior:smooth;
}
p{
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
img{
    object-fit: cover;
    width: 100%;
}
a {
    text-decoration: none;
}

/* CSS Variables */
:root {
    --ml-4: 1rem;
    --ml-2: 0.5rem;
    --clr-highlighter: #2F96AD;
    --clr-light: #9C9FA0;
    --clr-orange: #CD7930;
    --clr-green: #0A8A3D;
    --clr-red: #F21313;
    --clr-white: #fff;
}

/*  Utility class  */

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.grid {
    display: grid;
}
.fw-sm-bold {
    font-weight: 500;
}
.fw-light {
    font-weight: 300;
}

/*  General Styles   */
.container {
    height: 100%;
}

/* ----------- sidebar ----------- */
.sidebar {
    background-color: #37455F;
    color: var(--clr-white);
    width: 66%;
    height: 100vh;
    padding: 2em 0;
    position: fixed;
        top: 0;
        left: 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform .3s;
    overflow-y: auto;
}

.icon {
    width: 1.2rem;
}
.sidebar__btn-menu {
    padding-left: 1rem;
}
.nav__menu {
    height: 95%;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;
}
ul {
    gap: 1rem;
}
.icon__chevron {
    width: 0.7rem;
    margin-left: auto;
}
 .nav__menu-items {
     align-items: center;
     gap: 10px;
 }
.nav__item-bottom {
    padding-bottom: 2rem;
}
 li a {
     color: inherit;
 }
@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 1440px;
    }
    .sidebar {
        width: 20vw;
        height: 100%;
        color: var(--clr-white);
        padding: 1rem 0 0;
        transform: none;
    }

    .nav__menu {
        height: 100%;
        padding: 0 1rem;
    }
   
    .sidebar__btn-menu {
        margin-bottom: var(--ml-4);
        cursor: pointer;
    }

}

/* ----------- Main section ------------*/  

/* header section */

.header-section {
    background: var(--clr-white);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 10px var(--clr-light);
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .right-section {
        padding: 0 var(--ml-4);
        margin: 0 1rem;
    }
    .header-section {
        left: 20%;
        right: 0;
        height: auto;
        padding: 0 1.6rem 0.8rem 1.3rem;
    }
  
}

/* Header */

.header{
    justify-content: space-between;
    padding: var(--ml-2) 1rem;
    border-bottom: 3px solid #F5F5F5;
}

.header__menu-list {
    margin-top: 10px;
    align-items: center;
    gap: 1rem;
}
.header__item-icon {
    width: 1.8rem;
}
.header__menu-icon__menu {
    width: 1rem;
}
.menu-btn {
    align-self: center;
    background:#37455F;
    border-radius: 50%;
    padding: 0.75rem;
    display: inline-flex;
    cursor: pointer;
}

/* Search */

.search {
    flex-direction: column;
    padding-top: var(--ml-4);
    margin: var(--ml-4);
    gap: var(--ml-2);
}
.search__field::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: var(--clr-highlighter);
}
.search__field{
    border: 1px solid var(--clr-highlighter);
    outline: 0;
    border-radius: 2rem;
    padding: var(--ml-2) var(--ml-4);
    max-width: 350px;
    width: 19.875rem;
}
.search__option {
    padding: .4rem;
    color: #484545;
    gap:var(--ml-2);
}
select{
    border: 0;
    color: inherit;
}
.options {
    padding: 5px;
    gap: 5px;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px var(--clr-light);
}
.option__icon {
    align-self: center;
    height: 0.8rem;
}
@media screen and (min-width: 768px) {
    .search {
        flex-direction: row;
    }
        .menu-btn {
           opacity: 0;
        }
}
/* Breadcrumb */

.breadcrumb {
    margin-top: 0;
    font-size: .9rem;
    padding: var(--ml-4);
}
.active {
    color: var(--clr-highlighter);
}

/*  Filters  */
.filters{
    justify-content: space-between;
    margin: var(--ml-4);
    flex-wrap: wrap;
}
.status {
    color: var(--clr-light);
}
.status__all {
    border-bottom: 2px solid var(--clr-highlighter);
}
.status__count {
    background: #F5F5F5;
   color: var(--clr-light);
    padding: 2px var(--ml-2);
    border-radius: 50%;
}
.status__count.active {
    background-color: var(--clr-highlighter);
    color: #F5F5F5;
}
.filter__status {
    gap: 1rem;
}

/* View Mode */
.view{
    justify-content: end;
    width: 100%;
    margin-top: var(--ml-2);
    gap: 1rem;
}
.view .flex {
    gap: var(--ml-2);
    align-items: center;
}
.view .flex span {
    display: none;
}

.mode__icon {
    width: 1rem;
    height: 1rem;
    align-self: center;
}
.mode-list {
   background: #F5F5F5;
    padding: 5px var(--ml-4);
}
.mode-grid {
    background: var(--clr-highlighter);
    padding: 5px var(--ml-4);
}
.selected {
    color: var(--clr-white);
}

@media screen and (min-width: 768px) {
    .view .flex span {
        display: block;
    }

    .view {
        margin-top: 0;
        width: 15%;
    }
}
/* Show Result */

.show__result {
        justify-content: space-between;
        color: var(--clr-light);
        align-items: center;
        margin: var(--ml-2) var(--ml-4);
        flex-wrap: wrap;
        gap: 1rem;
    }
.show__result .flex {
        gap: 5px;
    }
.show__result .flex  select{
        border: 1px solid var(--clr-light);
    }

/* -------Result------------ */
.results-content {
    margin: 102% var(--ml-4) var(--ml-4) var(--ml-4); 
    font-family: 'Inter';
}
/* Cards  */
.card__row{
    grid-template-columns: 1fr;
    gap: 2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.card__item {
    border-radius: 5px;
    box-shadow: 0 5px 4px var(--clr-light);
    flex-wrap: wrap;
    font-size: 14px;
    gap: 1rem;
    padding: 1rem 1rem 0.5rem;
    line-height: 2.2;
}

.card__item-status {
    font-size: 0.8rem;
    letter-spacing: .5px;
    align-self: end;
    margin-right: 1.5rem;
}
.status-section {
    justify-content: space-between;
    gap: 0.625rem;
}
.status-section .card__item-status {
    font-size: 1.1rem;
    margin-right: 1.5rem;
} 
.green {
    color: var(--clr-green);
}
.orange {
    color: var(--clr-orange);
}
.red {
    color: var(--clr-red);
}
.card__item-orange {
    border-left: 4px solid var(--clr-orange);
}
.card__item-green {
    border-left: 4px solid var(--clr-green);
}
.card__item-red {
    border-left: 4px solid var(--clr-red);
}
.card__icon {
    width: 1.875rem;
}

.card__icon-container {
    padding: 0.5rem;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
}
.card__item-values {
    display: inline-block;
    font-size: small;
    width: 9rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .results-content {
        margin-top: 26%;
        margin-left: 21.5%;
    }
    .card__row {
        grid-template-columns: 1fr;
    }

    .card__item {
        height: 8.063rem;
    }

    .card__item-status {
        font-size: 1.125rem;
    }
    .card__icon-container {
        flex-direction: inherit;
    }
}
